<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.0/src/httpVueLoader.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-build-classic@12.0.0/build/ckeditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-vue@1.0.0-beta.1/dist/ckeditor.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.0/dist/vue-codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/clike/clike.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/python/python.js"></script>


    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/vue-charts.min.js"></script>
    <script src="js/model.js"></script>
    <script src="js/util.js"></script>
    <script src="js/apiUrl.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/base16-dark.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/base16-light.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/eclipse.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/elegant.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/midnight.css">
	<link rel="stylesheet" href="http://codemirror.net/theme/monokai.css">
	
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <title>Team KMS</title>
</head>
<body>
<v-app id='app'>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <span style="cursor: pointer;" class="hidden-sm-and-down" @click="gotitle">KMS</span>
        </v-toolbar-title>
        <v-text-field flat solo-inverted hide-details prepend-inner-icon="search" label="Search"
                      @keyup.enter="submit" placeholder="Press Enter"></v-text-field>
        <v-spacer></v-spacer>
        <v-btn icon @click="setting">
            <v-icon>settings</v-icon>
        </v-btn>
        <v-btn icon @click="help">
            <v-icon>help</v-icon>
        </v-btn>
        <v-btn icon @click="logout">
            <v-icon>cancel</v-icon>
        </v-btn>
    </v-toolbar>

    <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
        <v-expansion-panel focusable>
            <v-expansion-panel-content v-for="(item,i) in items" :key="i">
                <div slot="header">{{item.text}}</div>
                <v-list>
                    <v-list-tile v-for="(children,k) in item.children" :key="k" @click="route(children)">
                        <v-list-tile-content>
                            <v-list-tile-title>{{children.name}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-navigation-drawer>

    <v-content>
        <v-container fluid grid-list-md>
            <router-view></router-view>
        </v-container>
    </v-content>

    <v-dialog v-model="dialog" width="500">
        <v-card>
            <v-card-title class="headline primary lighten-2" primary-title>
                Error!!!!
            </v-card-title>
            <v-card-text>
                {{errormsg}}
            </v-card-text>
        </v-card>
    </v-dialog>

</v-app>
<script src="js/vue.js"></script>
<!--live-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="index.js"></script>
</body>
</html>