<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.0/src/httpVueLoader.js"></script>

    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/util.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <title>Team KMS</title>
</head>
<body>
<v-app id='login'>
    <v-content>
        <v-img style="height: 100%" src="../assets/login.jpg">
            <v-layout align-center justify-center fill-height>
                <v-form ref="form" @keyup.native.enter="submit">
                    <v-card class="elevation-12">
                        <v-toolbar dark color="primary">
                            <v-toolbar-title>TEAM KMS</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-text-field prepend-icon="person" v-model="name" label="Login" type="text"></v-text-field>
                            <v-text-field prepend-icon="lock" v-model="password" label="Password"
                                          type="password"></v-text-field>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn :loading="loading" :disabled="loading" color="primary" @click="submit">Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-layout>
        </v-img>
    </v-content>
</v-app>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="js/login.js"></script>
</body>
</html>