<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<script src="js/es6-promise.auto.min.js"></script>
<script src="/webjars/axios/dist/axios.min.js"></script>
<script src="/webjars/http-vue-loader/1.3.5/src/httpVueLoader.js"></script>
<link rel="stylesheet" href="/webjars/vuetify/1.2.1/dist/vuetify.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

<title>Team KMS</title>
</head>
<body>
	<v-app id='login'>
		<v-content>
			 <v-layout align-center justify-center fill-height>
			 	<v-form ref="form">			
					<v-card class="elevation-12">
						<v-toolbar dark color="primary">
							<v-toolbar-title>Dev Kms</v-toolbar-title>
						</v-toolbar>
						<v-card-text>
							<v-text-field prepend-icon="person" v-model="name" label="Login" type="text"></v-text-field>
							<v-text-field prepend-icon="lock"  v-model="password" label="Password" type="password"></v-text-field>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="primary" @click="submit" @keyup.enter="submit">Login</v-btn>
						</v-card-actions>
		            </v-card>
	    		</v-form>
	    	</v-layout>
	    </v-content>
	</v-app>
<script src="/webjars/vue/2.5.16/vue.min.js"></script>
<script src="/webjars/vuetify/1.2.1/dist/vuetify.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>